mixin advice
  .advice
    .massMediaPublications
      .wrappContent
        h2 Публикации в СМИ
        .contentMassMediaPublications
          .group-4.flexB
            .massMediaInfo
              .wrappImg
                img(src="/images/upload/massMedia/img_m1.jpg", alt="")
              .desc ...Один из самых сложных этапов в продаже – завершение сделки. С чем это связано?...

            .massMediaInfo
              .wrappImg
                img(src="/images/upload/massMedia/img_m2.jpg", alt="")
              .desc ...Тренировки уверенности для Ваших продавцов поднимут продажи вдвое. Для своего отдела продаж я ввел регулярные тренировки...

            .massMediaInfo
              .wrappImg
                img(src="/images/upload/massMedia/img_m3.jpg", alt="")
              .desc ...Как с помощью слов воздействовать на персонал?.....

            .massMediaInfo
              .wrappImg
                img(src="/images/upload/massMedia/img_m4.jpg", alt="")
              .desc ...Отдел продаж является одним из главных подразделений компании, потому что он привлекает в компанию деньги......
          .group-3.flexB
            .massMediaInfo
              .wrappImg
                img(src="/images/upload/massMedia/img_m5.jpg", alt="")
              .desc ...Продажи похожи на спорт.....

            .massMediaInfo
              .wrappImg
                img(src="/images/upload/massMedia/img_m6.jpg", alt="")
              .desc ...Для продуктивных людей главное –– результат, а не протяженный во времени путь к нему.....

            .massMediaInfo
              .wrappImg
                img(src="/images/upload/massMedia/img_m7.jpg", alt="")
              .desc ...Откуда взять нестандартные фразы и подходы? Я всегда советую – наблюдайте и берите у тех, у кого получается....

    .backgroundBrend
      .wrappContent
        h2 Советы по продажам
        .flexB
          .review.cardBrend.card.wow.fadeInDown(data-wow-delay="0.7s")
            img(src="/images/upload/picter1.jpg", alt="")
            .desc
              h5  Начало
              p Уметь продавать — это не только знание своего продукта, не только умение продавать товар, а умение продавать общение, а самое главное эмоцию. 
              a(href="") Читать далее
          .review.cardBrend.card.wow.fadeInDown(data-wow-delay="0.6s")
            img(src="/images/upload/picter2.jpg", alt="")
            .desc
              h5  Основа продаж - уверенность
              p Уметь продавать — это не только знание своего продукта, не только умение продавать товар, а умение продавать общение, а самое главное эмоцию. 
              a(href="") Читать далее
          .review.cardBrend.card.wow.fadeInDown(data-wow-delay="0.5s")
            img(src="/images/upload/picter3.jpg", alt="")
            .desc
              h5  Первый шаг продаж
              p Уметь продавать — это не только знание своего продукта, не только умение продавать товар, а умение продавать общение, а самое главное эмоцию. 
              a(href="") Читать далее

    .backgroundBrendWhite
      form.wrappContent.flexB(action="")
        h3 Получайте практические и эффективные советы от Евгения Котова
        input(type="email" placeholder="Ваш email" name="email")
        .btn.btnBrendWhite#subscribe  Подписаться

  .inviteGroup
    .wrappContent
      h2.wow.fadeIn(data-wow-delay="0.5s") Не откладывай свои мечты и успех на завтра, пройди обучение и начни поднимать свой доход
      a.btn.btnBrend.modal-trigger(href='#modal1') Записаться




