mixin advice
  .advice
    .backgroundBrend
      .wrappcContent
        h2 Советы по продажам
        .flexB
          .review.cardBrend.card.wow.fadeInDown(data-wow-delay="0.7s")
            img(src="/images/upload/picter1.jpg", alt="")
            .desc
              h5  Начало
              p Уметь продавать — это не только знание своего продукта, не только умение продавать товар, а умение продавать общение, а самое главное эмоцию. 
              a(href="") Читать далее
          .review.cardBrend.card.wow.fadeInDown(data-wow-delay="0.6s")
            img(src="/images/upload/picter2.jpg", alt="")
            .desc
              h5  Основа продаж - уверенность
              p Уметь продавать — это не только знание своего продукта, не только умение продавать товар, а умение продавать общение, а самое главное эмоцию. 
              a(href="") Читать далее
          .review.cardBrend.card.wow.fadeInDown(data-wow-delay="0.5s")
            img(src="/images/upload/picter3.jpg", alt="")
            .desc
              h5  Первый шаг продаж
              p Уметь продавать — это не только знание своего продукта, не только умение продавать товар, а умение продавать общение, а самое главное эмоцию. 
              a(href="") Читать далее

  .backgroundBrendWhite
    form.wrappcContent.flexB(action="")
      h3 Получайте практические и эффективные советы от Евгения Котова
      input(type="email" placeholder="Ваш email" name="email")
      .btn.btnBrendWhite#subscribe  Подписаться

  .inviteGroup
    .wrappcContent
      h2.wow.fadeIn(data-wow-delay="0.5s") Присоединяйтесь к команде профессиональных продавцов !




