mixin carusels
  .carusels
    .caruselCompany
      .wrappcContent
        h3 Компании с которыми мы работаем
        #owl-caruselCompany
          .slideContent
            img(src="/images/upload/noSlide.jpg", alt="")
          .slideContent
            img(src="/images/upload/noSlide.jpg", alt="")
          .slideContent
            img(src="/images/upload/noSlide.jpg", alt="")
          .slideContent
            img(src="/images/upload/noSlide.jpg", alt="")
          .slideContent
            img(src="/images/upload/noSlide.jpg", alt="")
          .slideContent
            img(src="/images/upload/noSlide.jpg", alt="")
          .slideContent
            img(src="/images/upload/noSlide.jpg", alt="")
          .slideContent
            img(src="/images/upload/noSlide.jpg", alt="")
          .slideContent
            img(src="/images/upload/delov.png", alt="")
          .slideContent
            img(src="/images/upload/noSlide.jpg", alt="")
          .slideContent
            img(src="/images/upload/back1.jpg", alt="")

    .caruselPublications
        .wrappcContent
          h3 Публикации в СМИ
          #owl-caruselPublications
            .slideContent
              img(src="/images/upload/brend1.png", alt="")
            .slideContent
              img(src="/images/upload/delov.png", alt="")
            .slideContent
              img(src="/images/upload/biznes.jpg", alt="")
            .slideContent
              img(src="/images/upload/sels.jpg", alt="Продавать")
            .slideContent
              img(src="/images/upload/noSlide.jpg", alt="")
