mixin footer
  footer.footer
    .wrappcContent
      .conntentFooter.flexB
        a.logo#logoBlue(href="#" title="Practicum Group")
        address.address
          h5 Адрес
          p г. Москва, Россия
          p Пресненская набережная, 12
          p
            span (Московский международный деловой центр «Москва Сити»)
          p Комплекс «Федерация», Башня «Запад» Этаж 38, офис «Москва»
        .phones
          .phone +7 (495) 792-99-62
          .phone +7 (909) 666-39-82
          a.email(href="#") info@pg-consult.ru
          a.web(href="http://www.pg-consult.ru/", target="_blank") www.pg-consult.ru
      #map



