mixin fullScreenSlider
  .fullScreenSlider
    #fullScreenSlider
      .slideOne
        .slideContent.wrappcContent.flexB
          .leftContent
            h1 СТАНЬ ЧЕМПИОНОМ ПРОДАЖ ЗА 4 ДНЯ
            h4 Авторские тренинги Евгения Котова
            a.btn.btnBrend.modal-trigger(href='#modal1') Регистрация на участие
          .rightContent
            .videoItem(id="EqcQOmK1twk")
              .wrappImgVideo
                img(src="/images/upload/video1.jpg", alt="")
      .slideOne
        .slideContent.wrappcContent.flexB
          .leftContent
            h1 СТАНЬ ЧЕМПИОНОМ ПРОДАЖ ЗА 5 ДНЯ
            h4 Авторские тренинги Евгения Котова
            .btn.btnBrend Регистрация на участие
          .rightContent
            .videoItem(id="EqcQOmK1twk")
              .wrappImgVideo
                img(src="/images/upload/video1.jpg", alt="")
