mixin Person
  .specialOffer
    .backgroundBrendBlue.wrappSpecialOffer
      .wrappContent
        h2 СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ ДО 15 ноября !
        .onePlusOne.flexB
          .one.flexB.wow.zoomIn(data-wow-delay="0.5s")
            i.icon-pg.icon-yellowhands
            .desc Профессиональные продажи
              .number 50 000
                +valute
          .plus +
          .one.flexB.wow.zoomIn(data-wow-delay="0.5s")
            i.icon-pg.icon-yellowtea
            .desc Профессиональная работа с возражениями
              .number 50 000
                +valute
        .sumOld="75 000 "
          +valute
          hr
        .sumNew="53 000 "
          +valute

        a.btn.btnBrendWhite.modal-trigger.wow.fadeInUp(href='#modal1' data-wow-delay="0.7s") Записаться на тренинг
  //- .presonPhilosophy
    .backgroundBrend
      .wrappcContent.flexB
        .desc
          h4 Зачем быть крутым продавцом?
          h4 В продажах, как в боксе, побеждает сильнейший!
        .videoItem(id="Jn7ZGKq21pU")
          .wrappImgVideo
            img(src="/images/upload/vidoe.jpg", alt="")

