mixin photoCarusel
  .photoCarusel
    h3 Фотографии занятий
    #photoCarusel
      //- .item(style='width:250px')
      //-   h4 1
      //- .item(style='width:100px')
      //-   h4 2
      //- .item(style='width:500px')
      //-   h4 3
      //- .item(style='width:100px')
      //-   h4 4
      //- .item(style='width:50px')
      //-   h4 6
      //- .item(style='width:250px')
      //-   h4 7
      //- .item(style='width:120px')
      //-   h4 8
      //- .item(style='width:420px')
      //-   h4 9
      //- .item(style='width:120px')
      //-   h4 10
      //- .item(style='width:300px')
      //-   h4 11
      //- .item(style='width:450px')
      //-   h4 12
      //- .item(style='width:220px')
      //-   h4 13
      //- .item(style='width:150px')
      //-   h4 14
      //- .item(style='width:600px')
      //-   h4 15
      img(src="/images/upload/photo1.jpg", alt="" data-merge="1")
      img(src="/images/upload/photo2.jpg", alt="" data-merge="2")
      img(src="/images/upload/photo3.jpg", alt="")
      img(src="/images/upload/photo1.jpg", alt="")
      img(src="/images/upload/photo2.jpg", alt="")
      img(src="/images/upload/photo3.jpg", alt="")

