mixin photoCarusel
  .photoCarusel
    .backgroundBrendWhite
      .wrappContent
        h3 Фотографии занятий
    #photoCarusel
      img(src="/images/upload/carusels/PhotoLessons/photo1.jpg", alt="")
      img(src="/images/upload/carusels/PhotoLessons/photo2.jpg", alt="")
      img(src="/images/upload/carusels/PhotoLessons/photo3.jpg", alt="")
      img(src="/images/upload/carusels/PhotoLessons/photo1.jpg", alt="")
      img(src="/images/upload/carusels/PhotoLessons/photo2.jpg", alt="")
      img(src="/images/upload/carusels/PhotoLessons/photo3.jpg", alt="")
