mixin profSales
  .profSales
    .wrappContent
      .headProfSales
        .leftsidbar
          i.icon-pg.icon-whitehends
        p Уникальная авторская тренинговая программа Евгения Котова
        h2 ПРОФЕССИОНАЛЬНЫЕ ПРОДАЖИ
      .rightProfSales
        .contentRightProfSales
          h3 Как проходят занятия:
          .steps
            .step
              .wrappI
                i.icon-pg.icon-playwhite
              p Вы просматриваете видео-урок, где рассматривается конкретный инструмент продаж
              i.icon-pg.icon-bigArrow
            .step
              .wrappI
                i.icon-pg.icon-doc
              p Выполняете задания
            i.icon-pg.icon-smallArrow
            .step
              .wrappI
                i.icon-pg.icon-twohuman
              p Индивидуальная работа с тренером
            i.icon-pg.icon-smallArrow
            .step
              .wrappI
                i.icon-pg.icon-whitehends
              p Результат: Отработаный навык продаж

      .leftProfSales
        h4 В программу входят только проверенные работающие методы
        .contentLeftProfSales
          .groupProf
            .groupProfContent
              .number 5
              p шагов продаж
            .groupProfContent
              .number 53
              p видео-урока – последовательно и подробно раскрывающие каждый инструмент продаж и их взаимосвязь.
          .groupProf
            .groupProfContent
              .number 4
              p дня интенсивных тренировок
            .groupProfContent
              .number 88
              p практических заданий и тренировок
