mixin programm
  .programm
    .wrappContent
      h2 На кого расчитана программа
    .backgroundBrendWhite
      .wrappContent.flexB

        .infoBlock
          .flexB
            .procent 89%
            .progressoBar
              span
          p Владельцев компаний хотят повысить доход своих компаний

        .infoBlock
          .flexB
            .procent 78%
            .progressoBar
              span
          p Руководителей постоянно сталкиваются с проблемами в построении отделов продаж

        .infoBlock
          .flexB
            .procent 84%
            .progressoBar
              span
          p Продавцов не выполняет план продаж
    .wrappResult
      .groupList

        .wrappList
          .contentList
            h4 Владельцы
            p Вас не устраивает уровень дохода компании?
            p Конкуренты играю все жестче?
            p Ваши клиенты уходят к конкурентам?
            p Хотите быстро увеличить уровень дохода?
          .desc Вы получаете точную технологию увеличения продаж и за короткий срок увеличиваете доход в 2-4 раза.

        .wrappList
          .contentList
            h4 Руководители отделов продаж
            p Продавцы не выполняют план продаж?
            p Продавцы «сливают» клиентов?
            p Продавцы работаю в режиме «операторов» заказов?
            p Нужно срочно поднять личную эффективность и отдела продаж?
          .desc Вы получаете практические инструменты и гарантировано выполняете план продаж.

        .wrappList
          .contentList
            h4 Владельцы
            p Вас не устраивает уровень дохода компании?
            p Конкуренты играю все жестче?
            p Ваши клиенты уходят к конкурентам?
            p Хотите быстро увеличить уровень дохода?
          .desc Вы повышаете объемы личных продаж на 30–200%, применяя полученные инструменты.

      .lineRes
        h3 Что в результате:
        .arrow-down
        .arrow-down
        .arrow-down
