mixin reviews
  .reviews
    .wrappContent
      h2 Отзывы наших клиентов-крутых продавцов
      .oneVideoItem
        .videoItem(id="b6ttBwmd0AQ")
          .wrappImgVideo
            img(src="/images/upload/vidoe.jpg", alt="")

      .reviewsPeople.flexB

        .review.cardBrend.card
          .desc
            .paragraph Я получил структурированную систему продаж с последовательными шагами. Когда применил знания на практике, то убедился, что система работает. Я увидел где «НЕ ДОЖИМАЛ» сделки и следовательно компания недополучала доход. Зная систему продаж Евгения Котова, вы можететстать настоящим «Волком с Wall Street» =)
            hr
            .user.flexB
              .avatar
                .wrappAvatar
                  img(src="/images/upload/people/avatar1.jpg", alt="А.М.")
                a.fb(href="" target="_blank")
                  i.icon-pg.icon-fb
              .name А.М., собственник,  KLEVOMEDIA, г. Москва
        .review.cardBrend.card
          .desc
            .paragraph
              | 1. Системно. Уделяют внимание деталям.
              br
              | 2. По качеству сравнимо с APPLE.
              | 3. Это стоит в 3 раза дороже.
              br
              | 4. Я получил в 10 раз больше, чем ожидал
            hr
            .user.flexB
              .avatar
                .wrappAvatar
                  img(src="/images/upload/people/avatar2.jpg", alt="")
                a.fb(href="" target="_blank")
                  i.icon-pg.icon-fb
              .name С.К., генеральный директор, «Hello», г. Казань
        .review.cardBrend.card
          .desc
            .paragraph  Весь материал очень легко воспринимается, теория чередуется с тренировками, которые очень в тему. Это действительно рабочий инструмент - это «термоядерная пушка» в руках продавца, которой можно научиться пользоваться. Именно этому я здесь научился!
            hr
            .user.flexB
              .avatar
                .wrappAvatar
                  img(src="/images/upload/people/avatar3.jpg", alt="")
                a.fb(href="" target="_blank")
                  i.icon-pg.icon-fb
              .name А.К., менеджер по продажам, «ЗАО Липецкое станкостроительное предприятие», г. Липецк

        .review.cardBrend.card.under
          .desc
            .paragraph Тренинг «Профессиональные продажи» впечатлил. Евгений Котов представил работающую схему в наглядном виде, здесь нет «подводных камней». И если что-то не сработало, всегда можно вернуться на шаг назад и это исправить. Это и есть отличие от других тренингов. 
            hr
            .user.flexB
              .avatar
                .wrappAvatar
                  img(src="/images/upload/people/avatar4.jpg", alt="")
                a.fb(href="" target="_blank")
                  i.icon-pg.icon-fb
              .name Т.И.В., менеджер по продажам, Питомник растений "АГРО", г. Москва
        .review.cardBrend.card.under
          .desc
            .paragraph Я не ожидал такого эффекта от тренинга. Евгений Котов разобрал все книжки по продажам в моей  голове по полочкам, при этом поставивв нужном месте закладки. Уметь продавать — это не только знание своего продукта, не только умение продавать товар, а умение продавать общение, а самое главное - эмоцию. 
            hr
            .user.flexB
              .avatar
                .wrappAvatar
                  img(src="/images/upload/people/avatar5.jpg", alt="")
                a.fb(href="" target="_blank")
                  i.icon-pg.icon-fb
              .name Амирян А.С., Республика Чувашия
        .review.cardBrend.card.under
          .desc
            .paragraph Я довольно системный человек, но в продажах не было ясности, всегда продавал на уровне интуиции. После тренинга, всё стало на свои места и я чётко понимаю, что делать в любой ситуации в продажах и переговорах.
            hr
            .user.flexB
              .avatar
                .wrappAvatar
                  img(src="/images/upload/people/avatar6.jpg", alt="")
                a.fb(href="" target="_blank")
                  i.icon-pg.icon-fb
              .name Денисов В.И. исполнительный директор, "ЮНИТ 3D" г. Пенза



