mixin reviews
  .reviews
    .wrappcContent
      h2 Отзывы наших клиентов-крутых продавцов
      .oneVideoItem
        .videoItem(id="b6ttBwmd0AQ")
          .wrappImgVideo
            img(src="/images/upload/vidoe.jpg", alt="")
      .videosItems.flexB
        .card.cardBrend.wow.fadeInUp(data-wow-delay="0.5s")
          .videoItem(id="b6ttBwmd0AQ")
            .wrappImgVideo
              img(src="/images/upload/picter3.jpg", alt="")
          .desc
            h5 Эльдар Урманчеев
            hr
            p Владеллец и генеральный директор компании «TIG The Investors Guardian» Компания занимается недвижимостью и имеет объекты от Сан-Франциско до Токио..
        .card.cardBrend.wow.fadeInUp(data-wow-delay="0.6s")
          .videoItem(id="b6ttBwmd0AQ")
            .wrappImgVideo
              img(src="/images/upload/picter3.jpg", alt="")
          .desc
            h5 Эльдар Урманчеев
            hr
            p Владеллец и генеральный директор компании «TIG The Investors Guardian» Компания занимается недвижимостью и имеет объекты от Сан-Франциско до Токио.
        .card.cardBrend.wow.fadeInUp(data-wow-delay="0.7s")
          .videoItem(id="b6ttBwmd0AQ")
            .wrappImgVideo
              img(src="/images/upload/picter3.jpg", alt="")
          .desc
            h5 Эльдар Урманчеев
            hr
            p Владелец и генеральный директор компании «TIG The Investors Guardian» Компания занимается недвижимостью и имеет объекты от Сан-Франциско до Токио.
      .reviewsPeople.flexB
        .review.cardBrend.card
          .desc
            p В результате тренинга я получил структурированную систему продаж с последовательными шагами. Я применил знания на практике и убедился в том, что система работает. Я осознал что делал неосознанно и получал результат. Увидел те моменты, в которых «НЕ ДОЖИМАЛ» сделки и следовательно компания недополучала доход. Зная систему продаж Евгения Котова, Вы сможете зарабатывать больше, стать настоящим продавцом, Волком с Волл Стрит. =)
            hr
            .user.flexB
              .avatar
                img(src="/images/upload/avatar.jpg", alt="А.М.")
              .name А.М., собственник, KLEVOMEDIA, г. Москва
        .review.cardBrend.card
          .desc
            p 1 Сказали. Сделали.
            p 2 Уделяют внимание деталям.
            p 3 По качеству сравнимо с APPLE. 
            p 4 Это стоит больше как минимум в 3 раза. 
            p 5 Помимо обучения продажам, дали рабочие советы по бизнесу: подбор кадров, мотивация. 
            p 6 Вкусно! Своевременно в нужных порциях. 
            p 7 То, что я ожидал от этой программы - это было всего лишь 10% от того, что увидел. 
            hr
            .user.flexB
              .avatar
                img(src="/images/upload/avatar.jpg", alt="С.К.")
              .name С.К., генеральный директор, «Hello», г. Казань
      .reviewsPeople.flexB
        .review.cardBrend.card
          .desc
            p Я очень немногословный человек, но… ребята - вы молодцы! Все дни на одном дыхании. Весь материал очень доступно воспринимается, постоянно теория чередуется с тренировками, которые очень в тему. Очень внимательный и отзывчивый коллектив. Буду ли я применять данные знания? Да. Причём я с удовольствием постараюсь поделиться этими знаниями со всем своим коллективом! Потому что я уверен, что это действительно рабочий инструмент! Причём это не просто оружие в руках продавца, это термоядерная пушка, которой необходимо умело пользоваться. Именно это делать меня тут и научили!
            hr
            .user.flexB
              .avatar
                img(src="/images/upload/avatar.jpg", alt="А.К.")
              .name А.К., менеджер по продажам, «ЗАО Липецкое станкостроительное предприятие», г. Липецк

        .review
          .cardBrend.card
            .desc
              p Тренинг «Профессиональные продажи» впечатлил. Евгений Котов представил работающую схему в наглядном виде, здесь нет подводных камней. И если что-то не сработало, всегда можно вернуться на шаг назад и это исправить. Это и есть отличие от других тренингов. 
              hr
              .user.flexB
                .avatar
                  img(src="/images/upload/avatar.jpg", alt="Т.И.В.")
                .name Т.И.В., менеджер по продажам, Питомник растений "АГРО", г. Москва
          .review.cardBrend.card
            .desc
              p Уметь продавать — это не только знание своего продукта, не только умение продавать товар, а умение продавать общение, а самое главное эмоцию. Быть продавцом — уметь общаться, уметь жить в полном смысле этого слова. Теперь я свободно себя чувствую на переговорах благодаря этому тренингу.
              hr
              .user.flexB
                .avatar
                  img(src="/images/upload/avatar.jpg", alt="С.К.")
                .name А.А.С., руководитель рекламного агентства, "Новая реальность", г. Шумерля

