mixin slider
  .slider
    #fullScreenSlider
      .slideOne
        .wrappContent
          .headSlide
            .title Practicum Group
            p С 2006 года компания на рынке тренинговых и консалтинговых услуг в сфере продаж
            .groupBtn.flexB
              .prev.slidePrev Об авторе
              .next.slideNext.active О компании
          .middleSlide
            .circle
            p Лауреат премии «Экономическая опора России» с присуждением звания «Национально значимое предприятие».
          .bottomSlide.flexB
            .world
              i.icon-pg.icon-earth
              .desc
                .statistic 8 стран и 82 города
                p География работы.
            .human
              i.icon-pg.icon-human
              .desc
                .statistic 41 680 человек
                p Обучено. Владельцы, топ-менеджеры, руководители среднего звена и продавцы.
      .slideTwo
        .wrappContent
          .headSlide
            .title Котов Евгений Игоревич
            .groupBtn.flexB
              .prev.slidePrev.active Об авторе
              .next.slideNext О компании
          .middleSlide
            .desc
              p Бизнес-тренер, владелец компании «Practicum Group».
              p Признанный эксперт в сфере переговоров, управления продажами и мотивации персонала.
              p Автор уникальной технологии продаж, эффективность которой проверена и доказана ростом продаж.
              p Тысячи компаний-клиентов, десятки тысяч продавцов и руководителей подтвердили это своим результатами – РОСТОМ ПРОДАЖ ОТ 20%—400%.
              p Лауреат премии «Лучший руководитель года 2014».
              p В 2014 г. награжден почетным знаком «За вклад в обеспечение экономической безопасности России».
          .bottomSlide
            .desc
              .info
                .numb 15 лет
                p управленческого опыта
              .info
                .numb 18 лет
                p личного опыта продаж
            .desc
              .info
                .numb 1 234 200
                p печатных экземпляров статей в изданиях.
              .info
                .numb 2 000 000
                p
                  | просмотров видео-уроков
                  br
                  | на YouTube

    .backgroundBrendBlue
      .wrappContent
        .flexB.backgroundBrendBlueContent
          h3 Сертификаты и награды
          .certificats
            img(src="images/upload/diplom1.png", alt="diplom1")
            img(src="images/upload/diplom2.png", alt="diplom2")