mixin target
  .target
    .whiteBlue
      .wrappcContent.processSecond
        .leftContent
          .exept
            h5 ЦЕЛЬ Программы
            i.icon-pg.icon-target
            p Обучить и натренировать Вас до уверенного применения всех инструментов технологии продаж на практике

        .rightContent
          .exept
            h5 Результат Программы
            i.icon-pg.icon-whitehends
            p Владея эффективной и результативной технологией продаж, Вы уверено ведете переговоры с клиентами и закрываете сделки любой сложности.
    .inProgramm
      h3 В программе:
      .groupIconsOdd.flexB
        .odd
          i.icon-pg.icon-people
          p Как удержать клиентов при жёсткой конкуренции и на падающем рынке?
        .odd
          i.icon-pg.icon-phone
          p
            | «Холодные звонки» —
            br
            | в чём секрет того, как их делать легко и эффективно?
        .odd
          i.icon-pg.icon-graph
          p Какие действия только на завершении сделки способны увеличить ваши продажи в 2 раза?
        .odd
          i.icon-pg.icon-smile
          p Эмоции и логика — как правильно их использовать в продажах
      .groupIconsEven.flexB
        .odd
          i.icon-pg.icon-fish
          p Клиентов нет — как можно увеличить продажи не дожидаясь, пока их нагонит отдел маркетинга?
        .odd
          i.icon-pg.icon-blueHand
          p Как продавать клиентам, которым «всегда дорого»?
        .odd
          i.icon-pg.icon-commit
          p Как разговорить клиента
        .odd
          i.icon-pg.icon-desc
          p Продвинутые данные по технике презентации
      .groupIconsOdd.flexB
        .odd
          i.icon-pg.icon-magnet
          p «Магнит» денег
        .odd
          i.icon-pg.icon-funnel
          p Как научить продавцов использовать воронку продаж для выполнения планов?
        .odd
          i.icon-pg.icon-classRoom
          p Упущенные функции руководителя отдела продаж.
        .odd
          i.icon-pg.icon-star
          p Как заинтересовать незаинтересованного клиента
      .groupIconsEven.flexB
        .odd
          i.icon-pg.icon-females
          p Правильный подход к продажам и сервису
        .odd
          i.icon-pg.icon-calendar
          p
            | Какие тренировки необходимо проводить
            br
            | в отделе продаж еженедельно?
        .odd
          i.icon-pg.icon-leg
          p
            | Волшебный «пендель»
            br
            | в презентации

