mixin treningSystem
  .treningSystem
    .wrappcContent
      h2.wow.fadeIn(data-wow-delay="0.5s") О системе подготовки
      p.wow.fadeIn(data-wow-delay="0.6s") Каждый тренинг – это авторская система обучения (подготовки) по технологии продаж Евгения Котова.
    .backgroundBrend
      .wrappcContent.flexB
        .leftContent.wow.fadeInLeft(data-wow-delay="0.5s")
          div Состоит из 2-ух частей: теоретической
          div (25%-50%) и практической (50%-75%)
        .rightContent.wow.fadeInRight(data-wow-delay="0.5s")
          .flexB
            .procent
              i.icon-pg.icon-book
              span 25%
            .procent
              i.icon-pg.icon-tools
              span 75%
          .progressoBar
            span
            span
    .wrappcContent.description.flexB
      p.wow.fadeInDown(data-wow-delay="0.5s") Все занятия проходят в современном тренингом центре, в котором участники за компьютером изучают теоретический материал со своей удобной скоростью с помощью авторских видео-уроков. Видео формат позволяет просматривать видео столько раз, сколько необходимо для усвоения материала.
      p.wow.fadeInDown(data-wow-delay="0.6s")  Задания и тренировки по каждому инструменту продаж проводятся под наблюдением профессионального тренера. Тренировочный процесс построен таким образом, что позволяет за короткий срок достичь устойчивых результатов.
  .process
    .backgroundBrend
      .wrappcContent
        h5 В процессе тренинга:
        .flexB
          .processes.wow.bounceInLeft(data-wow-delay="0.8s")
            i.icon-pg.icon-yutobe
            p Вы получаете задания и тренировки после каждого видео-урока.
          .processes.wow.bounceInLeft(data-wow-delay="0.7s")
            i.icon-pg.icon-human
            p Тренировки проходят на вашем продукте.
          .processes.wow.bounceInLeft(data-wow-delay="0.6s")
            i.icon-pg.icon-grow
            p Тренировки проходят с постепенным повышением сложности (от простого к сложному).
    .whiteBlue
      .wrappcContent.processSecond
        .leftContent.wow.fadeInUp(data-wow-delay="0.8s")
          h5 Цель
          i.icon-pg.icon-glasse
          p Стать настоящим профессионалом в продажах и переговорах
          i.icon-pg.icon-hands
          p.exept Уверенно закрывать большие сделки
        .rightContent.wow.fadeInUp(data-wow-delay="0.8s")
          h5 Результат
          i.icon-pg.icon-grow-white
          p Повышение уровня собственного дохода и дохода компании
          div 100%
          p.exept 100% владение технологией продаж и уверенное умение её применения



