mixin videoFigth
  .videoFigth
    .videoItem(id="Jn7ZGKq21pU")
      .videoPlay
      .textVideo
        div Смотреть
        div видео
      .wrappImgVideo
        img(src="/images/upload/videoFigth.jpg", alt="")
    .wrappContent
      h2 Наш подход — Философия чемпионов В продажах, как в спорте — побеждает сильнейший!
  .afterVideo
    .backgroundBrendBlue.flexB
      .wrappContent
        a.btn.btnBrendWhite.modal-trigger(href='#modal1') Записаться на тренинг

