extends templates/template
block title
    title Page Index
block content
  .conteiner
    //- +loader
    +header
    +fullScreenVideo
    +programm
    +target
    +slider
    +videoFigth
    +profSales
    +photoCarusel
    +advantages
    +Person
    +reviews
    +carusels
    +advice
    +footer
