extends templates/template
block title
    title Page Index
block content
  .conteiner
    +loader
    +header
    +fullScreenSlider
    +treningSystem
    +Person
    +reviews
    +carusels
    +advice
    +footer
