extends templates/template
block title
    title Page Index
block content
  .conteiner
    //- +loader
    +header
    +fullScreenSlider
    +programm
    +target
    +slider
    +videoFigth
    +profSales
    +photoCarusel



    //- +treningSystem
    //- +Person
    //- +reviews
    //- +carusels
    //- +advice
    +footer
