.advantages
  h3
    color: #3e3e3e
    font-family: $brendFont
    font-size: 24px
    font-weight: 500
    line-height: 22px
    margin-top: 37px
    margin-bottom: 42px

  .advantagesInfoBlock
    align-items: flex-start
    margin-bottom: 25px

    .infoBlock
      width: 287px
      margin-right: 34px
      color: #3e3e3e
      font-size: 16px
      line-height: 22px
      &:last-child
        margin-right: 0

      .brendLine
        height: 3px
        border: 1px solid #9ac9d0
        margin-bottom: 21px

      h5
        font-weight: 700
        font-size: 16px
        text-transform: uppercase
      p
        font-weight: 400
        font-size: 16px

  .backgroundBrendWhite
    padding-bottom: 24px

    h3
      padding-top: 25px
      margin-bottom: 21px

    .videosItems
      .wrappVideo
        margin-right: 19px
        img
          max-width: 302px
          max-height: 160px
          overflow: hidden
        &:last-child
          margin-right: 0

    .linkVideo
      margin-top: 24px
      display: inline-block
      color: #004687
      font-size: 16px
      line-height: 22px
      text-decoration: none
      border-bottom: 1px dashed #004687
      cursor: pointer

  .resultsTreningContent

    .infoResult
      margin-right: 32px
      &:last-child
        margin-right: 0

    .headInfoResult
      margin-bottom: 39px
    .icon-pg
      margin-right: 28px
    .blueLine
      width: 199px
      height: 1px
      border-top: 1px dashed #004687
    p
      color: #3e3e3e
      font-size: 16px
      line-height: 22px

  .inTotals
    background-color: rgba(231,232,232,0.49)
    padding: 46px 0 51px
    margin-top: 75px
    .infoInTotal
      height: 66px
      border-right: solid 1px #000
      &:first-child
        padding-right: 31px
      &:nth-child(2)
        padding: 0 21px 0 16px
      &:last-of-type
        border: none
        padding-left: 21px
        margin-right: 25px
    .btnBrend
      font-size: 16px
      font-weight: 500
      width: 345px
      height: 66px
      line-height: 66px

    .number
      color: #004687
      font-family: $brendFont
      font-size: 36px
      font-weight: 500
    p
      font-size: 15px
      color: #004687
