.advice
  .backgroundBrend
    padding: 53px 0 40px
  h2
    margin-bottom: 50px
  h5
    color: #3e3e3e
    font-size: 18px
    font-weight: 500
    // +text-overflow
    min-height: calc(20px * 2)
    max-height: calc(20px * 2)
    overflow: hidden
  p
    max-height: calc(18px * 5)
    overflow: hidden
  a
    color: #004687
    font-size: 15px
    font-weight: 400
    text-decoration: none
    transition: all .35s
    &:hover
      text-decoration: underline

  .flexB
    justify-content: space-between
    align-items: flex-start
  .card
    height: 379px
    width: 300px
    .desc
      padding: 21px 24px 32px 19px

.backgroundBrendWhite
  display: flex
  align-items: center

  h3
    color: #3e3e3e
    font-size: 24px
    font-weight: 400
    margin-right: 41px
    width: 468px
  input
    margin-right: 25px
  .btnBrendWhite
    width: 177px

.inviteGroup
  background-image: url(/images/upload/back1.jpg)
  background-size: cover
  height: 665px
  h2
    padding-top: 73px
    width: 520px
    color: #fff
    font-size: 34px
    font-weight: 400
    line-height: 44px