.carusels
  h3
    color: #3e3e3e
    font-size: 34px
    font-weight: 400
  .caruselCompany
    border: 1px solid #f2f2f2
    height: 498px
    h3
      padding-top: 61px
      margin: 0px 0 84px
    .slideContent
      width: 191px
      height: 191px



  .slideContent
    padding-top: 0
    width: 191px
    height: 191px
    // border-radius: 50%
    overflow: hidden
    position: relative
    img
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      margin: auto
      // max-width: inherit

  //
  .caruselPublications
    height: 474px
    h3
      padding-top: 93px
      margin: 0px 0 68px

    .slideContent
      width: 152px
      height: 152px

.photoCarusel
  width: 100%
  margin: 0 auto
  .owl-item
    background-color: #221
  #photoCarusel
    min-width: 1400px
    height: 320px
    overflow: hidden
  h3
    font-family: $brendFont
    font-size: 24px
    font-weight: 500
    line-height: 22px
  .wrappImg
    position: relative
  img
    position: relative