.icon-pg
  background-image: url(../images/icons/sprite-icons.png)
  background-repeat: no-repeat
  background-size: 56px auto
  display: table
  &:before
    content: ''
    width: 21px
    height: 35px
    display: table
    vertical-align: middle
    margin-right: 14px

.icon-book
  background-position: 0 0
  &:before
    width: 25px

.icon-tools
  background-position: 0 -53px
  &:before
    width: 41px

.icon-yutobe
  background-position: 0 -488px
  margin: 0 auto
  &:before
    width: 45px
    height: 32px
    margin: 0 auto 13px
.icon-human
  background-position: 0 -311px
  margin: 0 auto
  &:before
    width: 36px
    margin: 0 auto 13px
.icon-grow
  background-position: 0 -144px
  margin: 0 auto
  &:before
    width: 34px
    height: 37px
    margin: 0 auto 13px

.icon-glasse
  margin: 0 auto
  background-position: 0 -106px
  &:before
    width: 55px
    height: 18px
    margin: 0

.icon-grow-white
  margin: 0 auto
  background-position: 0 -201px
  &:before
    width: 32px
    margin: 0

.icon-hands
  margin: 0 auto
  background-position: 0 -254px
  &:before
    width: 56px
    height: 37px

.icon-many
  background-position: 0 -364px
  &:before
    width: 32px

.icon-tie
  background-position: 0 -417px
  &:before
    width: 15px
    height: 51px

.videoItem
  .wrappImgVideo
    width: 100%
    height: 100%
    position: relative
    display: flex
    align-items: center
    background-color: #000
    overflow: hidden
    img
      position: absolute
      left: 0
      right: 0
      margin: auto
      bottom: 0
      top: 0
    &:before
      position: absolute
      cursor: pointer
      width: 124px
      height: 124px
      background-color: rgba(0, 0, 0, 0.48)
      display: table
      content: ''
      top: 50%
      left: 50%
      z-index: 2
      border-radius: 50%
      background-size: 54px auto
      background-image: url(../images/icons/play.svg#icon_play)
      background-repeat: no-repeat
      background-position: 41px 31px
      margin-top: -62px
      margin-left: -62px

.slideContent
  .videoItem
    .wrappImgVideo
      &:before
        margin-top: -60px
        margin-left: -51px
.card
  .videoItem
    .wrappImgVideo
      &:before
        width: 60px
        height: 60px
        background-size: 30px auto
        background-position: 18px 12px
        margin-top: -30px
        margin-left: -30px