.person
  .personWrapp
    background-image: url(/images/upload/smallSlide1.png)
    background-size: contain
    width: 100%
    margin: 0 auto
    height: 596px
    background-repeat: no-repeat
    background-position: right 0
  h2
    padding-top: 54px
    margin-bottom: 38px
  .desc
    width: 490px
    margin-bottom: 62px
  .groupInfo
    display: flex
    width: 468px
    flex-wrap: wrap
    .info
      width: 125px
      margin-bottom: 37px
      &:nth-child(1)
        width: 113px
        margin-right: 45px
      &:nth-child(2)
        margin-right: 41px
      &:nth-child(3)
        width: 144px
      &:nth-child(4)
        width: 133px
        margin-right: 28px
    .number
      color: #004687
      font-size: 24px
      font-weight: 900
      text-transform: uppercase
    p
      color: #777
      font-size: 14px
      font-weight: 400
      line-height: 1

// presonPhilosophy
.presonPhilosophy
  .backgroundBrend
    padding: 57px 0 39px
  .desc
    width: 349px
    position: relative
    margin-right: 94px
    h4
      color: #3e3e3e
      font-size: 24px
      font-weight: 400
      display: flex
      padding-left: 40px
      &:before
          position: absolute
          content: ''
          display: table
          left: 0
      &:first-child
        margin-bottom: 63px
        padding-left: 41px
        &:before
          margin-top: 7px
          width: 18px
          height: 2px
          background-color: #616161
          margin-right: 8px
          left: 17px
      &:last-child
        color: #004687
        font-size: 34px
        &:before
            margin-top: 9px
            width: 29px
            height: 3px
            background-color: #004687
            margin-right: 12px
            left: 3px


  .videoItem
    box-shadow: 0 22px 29px rgba(0, 70, 135, 0.47)
    width: 542px
    height: 302px
    iframe
      width: 100%
      height: 100%

.backgroundBrendBlue
  height: 145px
  display: flex
  p
    width: 615px
    color: white
    font-size: 24px
    margin-right: 51px

.personTrening
  .wrappTrening
    background-image: url(/images/upload/personTrening.jpg)
    background-size: contain
    width: 462px
    height: 446px
    background-repeat: no-repeat
    background-position: -1px 2px

  h2
    margin: 60px 0 52px
  .decsription
    align-items: flex-start
    width: 937px
    height: 100%
    background-color: #fff
    border-radius: 10px
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15)
    margin-bottom: 62px

  .wrappTrening
    color: #fff
    text-align: center
    padding: 22px 27px 19px 20px
    margin-right: 16px
    .title
      height: 33px
      align-items: flex-end
      margin-bottom: 216px
    h4
      font-size: 22px
      font-weight: 400
      height: 22px
    p
      font-size: 15px
      line-height: 22px
      margin-bottom: 34px

    .gropInfo
      width: 280px
      margin-bottom: 21px
      justify-content: space-between
      .info
        height: 36px
        width: 146px
        span
          display: block
          line-height: 22px
          font-size: 15px
          &:last-child
            font-size: 18px

    .btnBrend
      line-height: 42px
      width: 402px
      height: 42px

  .desc
    margin-top: 12px
    width: 419px
    .marker
      background-color: yellow
      color: #3e3e3e
      font-size: 15px
      display: inline-block
      padding: 0px 16px 0px 6px
      &:first-child
        padding-top: 8px
      &:last-child
        padding-bottom: 4px

    ul
      li
        line-height: 22px
        color: #8c8c8c
        font-size: 15px
        &:first-child
          color: #3e3e3e
          font-size: 18px
      &:first-of-type
        margin: 22px 0 30px

.specialOffer
  .backgroundBrendBlue
    padding: 25px 0
    text-align: center
  .wrappSpecialOffer
    background-image: url(/images/upload/backSpec.png)
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    height: 432px

    h2
      color: #fff
      font-size: 24px
      text-transform: uppercase

  .btnBrendWhite
    width: 272px
    margin-top: 35px

  .onePlusOne
    width: 921px
    margin: 28px 0 32px
    align-items: flex-start
  .one
    width: 413px
    height: 133px
    background-color: rgba(0, 0, 0, 0.46)
    padding: 32px 22px 0 33px
    align-items: flex-start
    .icon-many
      &:before
        margin-right: 26px
    .icon-tie
      &:before
        margin-right: 31px
    h4
      font-size: 24px
      transform: uppercase
      text-align: left
      font-weight: 400
  .plus
    width: 31px
    height: 33px
    color: #fff
    font-size: 62px
    font-weight: 400
    line-height: 30px
    text-transform: uppercase
    margin: 51px 28px 0 42px

  .sumOld, .sumNew
    color: #fff

  .sumOld
    position: relative
    width: 122px
    margin: 0 auto 32px
    hr
      height: 1px
      background-color: red
      width: 100%
      position: absolute
      margin: 0
      border: none
      top: 50%
      left: 5px
      padding: 0
  .sumNew
    font-size: 37px
    line-height: 32px


